<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <li class="menu-header small text-uppercase"><span class="menu-header-text">홈</span></li>
        <li class="menu-item">
            <a href="/admin/index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Basic">내 정보</div>
            </a>
        </li>
        <!-- Forms & Tables -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">메뉴</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Layouts">회원관리</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/admin/user" class="menu-link">
                        <div>일반유저</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/admin/company" class="menu-link">
                        <div>사업자유저</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="/admin/product" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">상품관리</div>
            </a>
        </li>

        <!-- Tables -->
        <li class="menu-item">
            <a href="/admin/board" class="menu-link">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">게시판관리</div>
            </a>
        </li>
        <!-- Dashboard -->


        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">활동내역 관리</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/admin/comment" class="menu-link">
                        <div data-i18n="Accordion">댓글관리</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/admin/reply" class="menu-link">
                        <div data-i18n="Alerts">대댓글관리</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="/admin/review" class="menu-link">
                <i class="menu-icon tf-icons bx bx-crown"></i>
                <div data-i18n="Boxicons">리뷰관리</div>
            </a>
        </li>
    </ul>
</aside>
