{{>admin/header}}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {{>admin/admin-menu}}

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            {{>admin/admin-nav}}

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">활동내역 관리 /</span> 댓글/대댓글</h4>

                    <!-- Basic Bootstrap Table -->
                    <div class="card">
                        <div class="card mb-4">
                            <h5 class="card-header">검색조건</h5>
                            <div class="card-body">
                                <div class="row gx-3 gy-2 d-flex justify-content-between align-items-end">
                                    <div class="col-md-3">
                                        <label class="form-label" for="searchCategory">카테고리 (검색어 입력 시 필요합니다.)</label>
                                        <select id="searchCategory" class="form-select color-dropdown">
                                            <option value="전체" selected>전체</option>
                                            <option value="내용">내용</option>
                                            <option value="작성자">작성자</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label" for="deletedConfig">삭제여부</label>
                                        <select id="deletedConfig" class="form-select color-dropdown">
                                            <option value="N" selected>N</option>
                                            <option value="Y">Y</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label" for="searchType">타입</label>
                                        <select id="searchType" class="form-select color-dropdown">
                                            <option value="댓글" selected>댓글</option>
                                            <option value="대댓글">대댓글</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-end">
                                        <button class="btn btn-primary" id="comment_list">전체조회</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>작성자</th>
                                    <th>내용</th>
                                    <th>삭제여부</th>
                                    <th>작성일</th>
                                    <th>수정일</th>
                                    <th width="10%"></th>
                                    <th width="10%"></th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->

                    <hr class="my-5" />
                    <div class="text-center">
                        <ul class="pagination d-flex justify-content-center align-items-center">
                        </ul>
                    </div>
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <script src="/admin/js/comment.js"></script>
{{>admin/footer}}