<!-- build:js vendor/js/core.js -->
<script src="/admin/vendor/libs/jquery/jquery.js"></script>
<script src="/admin/vendor/libs/popper/popper.js"></script>
<script src="/admin/vendor/js/bootstrap.js"></script>
<script src="/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/admin/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/admin/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/admin/js/main.js"></script>

<!-- Page JS -->
<script src="/admin/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/admin/js/index.js"></script>
</body>
</html>