<li class="nav-item">
    <a href="/manager/mypage" class="active" aria-label="Toggle navigation">회원정보</a>
</li>
<li class="nav-item">
    <a href="/manager/orderList" aria-label="Toggle navigation">주문내역</a>
</li>
<li class="nav-item">
    <a href="/manager/wishlist" aria-label="Toggle navigation">관심상품</a>
</li>
<li class="nav-item">
    <a href="/manager/cart" aria-label="Toggle navigation">장비견적(장바구니)</a>
</li>
<li class="nav-item">
    <a href="/manager/myreview" aria-label="Toggle navigation">후기</a>
</li>
<li class="nav-item">
    <a href="/manager/myboard" aria-label="Toggle navigation">활동내역</a>
</li>
