<li class="nav-item">
    <a href="/shop" aria-label="Toggle navigation">회사정보</a>
</li>
<li class="nav-item">
    <a href="/shop/addProduct" aria-label="Toggle navigation">상품등록</a>
</li>
<li class="nav-item">
    <a href="/shop/productList" aria-label="Toggle navigation">내 상품조회</a>
</li>
<li class="nav-item">
    <a href="/shop/orderList" aria-label="Toggle navigation">판매관리</a>
</li>
<li class="nav-item">
    <a href="/shop/signOut" aria-label="Toggle navigation">사업자 탈퇴</a>
</li>
