<li class="nav-item">
    <a href="/manager/companyinfo" aria-label="Toggle navigation">회사정보</a>
</li>
<li class="nav-item">
    <a href="/addproduct" aria-label="Toggle navigation">상품등록</a>
</li>
<li class="nav-item">
    <a href="/manager/myproductlist" aria-label="Toggle navigation">내 상품조회</a>
</li>
<li class="nav-item">
    <a href="/manager/orderList" aria-label="Toggle navigation">판매관리</a>
</li>
<li class="nav-item">
    <a href="/CompanySignout" aria-label="Toggle navigation">사업자 탈퇴</a>
</li>
