{{>pages/header1}}

<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/mypageUser.css">
<link rel="stylesheet" href="/css/mypageManager.css">
{{>pages/header2}}

<div class="container">
    <div class="row">
        <section class="mypage_sidebar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="my-page-nav">
                <button class="navbar-toggler" id="NAVtoggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span>목록보기</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {{>pages/manager/mypageShopNAV}}
                    </ul>
                </div>
            </nav>
            <article class="product-article">
                <div class="product-img">
                    <div class="product-thumbnale mb-3">
                        <h6>썸네일</h6>
                        <div id="thumb-preview" class="detail-inner">
                        </div>
                        <input type="file" id="thumb-file"/>
                    </div>
                    <div class="product-photos">
                        <h6>업로드 된 파일</h6>
                        <div id="current-image-preview" class="detail-inner">
                        </div>
                        <h6>업로드 할 파일</h6>
                        <div id="image-preview" class="detail-inner">
                        </div>
                        <input type="file" id="file-input" multiple/>
                    </div>
                </div>

                <div class="product-inputinfo">
                    <div class="col-sm-12 mb-10">
                        <div class="form-group input-group">
                            <label for="main-type" class="m-auto">상품종류</label>
                            <select class="form-select" id="main-type" aria-label="select main-type" onchange="changeSubType()">
                                <option value="바다로드">바다로드</option>
                                <option value="민물로드">민물로드</option>
                                <option value="원투낚시">원투낚시</option>
                                <option value="릴/용품">릴/용품</option>
                                <option value="라인/용품">라인/용품</option>
                                <option value="바늘/훅">바늘/훅</option>
                                <option value="기타">기타</option>
                            </select>
                            <label for="sub-type" class="m-auto">세부종류</label>
                            <select class="form-select" id="sub-type" aria-label="select sub-type">
                                <option value="인쇼어">인쇼어</option>
                                <option value="라이트지깅">라이트지깅</option>
                                <option value="볼락/락피쉬">볼락/락피쉬</option>
                                <option value="지깅로드">지깅로드</option>
                                <option value="선상캐스트로드">선상캐스트로드</option>
                                <option value="외수질/침선">외수질/침선</option>
                                <option value="타이라바">타이라바</option>
                                <option value="좌대용">좌대용</option>
                                <option value="두족류">두족류</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-10">
                        <div class="form-group input-group">
                            <label for="brand-type" class="m-auto">브랜드</label>
                            <select class="form-select" id="brand-type" aria-label="select brand-type">
                                <option value="시마노" selected>시마노</option>
                                <option value="바낙스">바낙스</option>
                                <option value="청룡조구">청룡조구</option>
                                <option value="아부가르시아">아부가르시아</option>
                                <option value="다이와">다이와</option>
                                <option value="해동조구사">해동조구사</option>
                                <option value="키우라">키우라</option>
                                <option value="용성">용성</option>
                                <option value="은성사">은성사</option>
                                <option value="가마가츠">가마가츠</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-10">
                        <div class="form-group input-group">
                            <label for="productName" class="m-auto">상품명</label>
                            <input class="form-control" type="text" id="productName">
                        </div>
                    </div>
                    <div class="col-sm-12 mb-10">
                        <div class="form-group">
                            <label for="editor" class="mb-1">상품내용</label>
                            <textarea name="boardinfo" id="editor"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-10">
                        <div class="form-group input-group">
                            <label for="productPrice" class="m-auto">가격</label>
                            <input class="form-control" type="text" id="productPrice">
                        </div>
                    </div>
                    <div class="col-sm-12 mb-10">
                        <div class="form-group input-group">
                            <label for="productStock" class="m-auto">재고</label>
                            <input class="form-control" type="text" id="productStock">
                        </div>
                    </div>


                    <div class="button text-center">
                        <button class="btn" id="productBtn">수정하기</button>
                    </div>
                </div>
            </article>
        </section>


    </div>
</div>
{{>pages/footer1}}
<!--  이곳에 페이지 별 js 로드시키기-->
<!--  예시 : <script src="/js/dummydata.js"></script> -->

<script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
<script src="/js/product/editThumbnalePreview.js"></script>
<script src="/js/board/boardFilePreview.js"></script>
<script src="/js/product/addProductType.js"></script>
<script src="/js/product/productEdit.js"></script>
<script src="/js/product/productCurrentFiles.js"></script>
<script>
    let editor;

    ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['bold', 'italic', 'link', 'undo', 'redo', 'numberedList', 'bulletedList']
            })
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });


    document.querySelector('#productBtn').addEventListener('click', (e) => {
        e.preventDefault();
        //토큰 값
        const header = document.querySelector('meta[name="_csrf_header"]').content;
        const token = document.querySelector('meta[name="_csrf"]').content;

        const mainType = document.getElementById('main-type');
        const subType = document.getElementById('sub-type');
        const brandType = document.getElementById('brand-type');

        //상품 정보 텍스트 가져오기
        const editorData = editor.getData();
        //폼 생성
        const formData = new FormData();

        //input file, 이미지에 대한 정보 가져옴
        let thumb = document.querySelector('#thumb-file');
        let input = document.querySelector('#file-input');

        const productData = {
            productCompanyId: {
                companyId: document.getElementById('checkCompanyId').value
            },
            productType: mainType.options[mainType.selectedIndex].value,
            productSubType: subType.options[subType.selectedIndex].value,
            productBrand: brandType.options[brandType.selectedIndex].value,
            productName: document.getElementById('productName').value,
            productContent: editorData,
            productPrice: document.getElementById('productPrice').value,
            productStock: document.getElementById('productStock').value,
            productViewCount: 0,
            productOrderCount: 0
        }

        console.log(thumb);
        console.log(input);
        console.log(productData);

        for (let i = 0; i <= input.files.length; i++) {
            formData.append('images', input.files[i]);
        }
        formData.append(
                "keys",
                new Blob([JSON.stringify(productData)], {type: "application/json"})
        );

        formData.append(
                "deletedFileList",
                new Blob([JSON.stringify(delFiles)], {type:"application/json"})
        );


        formData.append('thumbFile', thumb.files[0]);

        formData.append("deletedThumb",delThumbFile.deletedThumFile[0].value);


        fetch(`/api/manager/product/update/${urlID}`, {
            method: "PUT",
            headers: {
                'header': header,
                'processData': false,
                'contentType': false,
                'X-CSRF-Token': token
            },
            body: formData
        })
                .then(res => {
                    if (res.status === 200 || res.status === 201) { // 성공을 알리는 HTTP 상태 코드면
                        alert("상품수정 완료");
                    } else { // 실패를 알리는 HTTP 상태 코드면
                        console.error(res.statusText);
                        console.error(res);
                    }
                })
                .then(data => {
                    location.replace('/shop/productList');
                })
                .catch(error => console.log(error))
        // ...
    });
</script>
{{>pages/footer2}}