<li class="nav-item">
    <a href="/user/mypage" class="active" aria-label="Toggle navigation">회원정보</a>
</li>
<li class="nav-item">
    <a href="/user/orderlist" aria-label="Toggle navigation">주문내역</a>
</li>
<li class="nav-item">
    <a href="/user/wishlist" aria-label="Toggle navigation">관심상품</a>
</li>
<li class="nav-item">
    <a href="/user/cart" aria-label="Toggle navigation">장비견적(장바구니)</a>
</li>
<li class="nav-item">
    <a href="/user/myreview" aria-label="Toggle navigation">후기</a>
</li>
<li class="nav-item">
    <a href="/user/myboard" aria-label="Toggle navigation">활동내역</a>
</li>
<li class="nav-item">
    <a href="/user/changeCompany" aria-label="Toggle navigation">사업자 등록</a>
</li>
<li class="nav-item">
    <a href="/user/signout" aria-label="Toggle navigation">회원탈퇴</a>
</li>
