{{>pages/header}}
<div class="container">
    <div class="row">
        <section class="mypage_sidebar">
            {{>pages/mypageAdminNAV}}
            <article class="product-article">
                상품등록
            </article>
        </section>
    </div>
</div>
{{>pages/footer1}}
<!--  이곳에 페이지 별 js 로드시키기-->
<!--  예시 : <script src="/js/dummydata.js"></script> -->
{{>pages/footer2}}