{{>pages/header1}}
<link rel="stylesheet" href="/css/board.css">
{{>pages/header2}}
<div class="container">
    <form class="row" id="boardform" enctype="multipart/form-data">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="type"></label>
                <select class="form-select" id="type" aria-label="select value">
                    <option value="자유게시판" selected>자유</option>
                    <option value="문의게시판">문의</option>
                </select>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label for="board_Title"></label>
                <input class="form-control" name="bdTitle" type="text" id="board_Title" placeholder="제목을 입력해주세요" required />
            </div>
        </div>
        <div id="col-sm-12">
            <label for="editor"></label>
            <textarea name="boardinfo" id="editor" ></textarea>
        </div>
        <h3>업로드 할 파일</h3>
        <input type="file" id="file-input" multiple />
        <div id="image-preview" class="detail-inner">
        </div>
        <div class="align-center">
            <div class="button">
                <button class="btn" id="submit">글 등록</button>
            </div>
        </div>
    </form>

</div>

{{>pages/footer1}}
<script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
<script>
    let editor;

    ClassicEditor
            .create( document.querySelector( '#editor' ), {
                toolbar: [ 'bold', 'italic', 'link', 'undo', 'redo', 'numberedList', 'bulletedList' ]
            })
            .then( newEditor => {
                editor = newEditor;
            } )
            .catch( error => {
                console.error( error );
            } );

    // Assuming there is a <button id="submit">Submit</button> in your application.
    document.querySelector( '#submit' ).addEventListener( 'click', (e) => {
        e.preventDefault();
        //토큰 값
        const header = document.querySelector('meta[name="_csrf_header"]').content;
        const token = document.querySelector('meta[name="_csrf"]').content;
        //텍스트 에디터에서 값 가져옴
        const editorData = editor.getData();
        const formData = new FormData();
        const bType = document.getElementById('type');

        let input = document.querySelector('input[type="file"]')
        const boardData = {
            bdType: bType.options[bType.selectedIndex].value,
            bdTitle: document.getElementById('board_Title').value,
            bdViews: 0,
            bdContent : editorData
        }

        console.log(boardData);
        console.log(input.files);

        for(let i=0;i <=input.files.length; i++){
            formData.append('images', input.files[i]);
        }
        formData.append(
                "keys",
                new Blob([JSON.stringify(boardData)], { type: "application/json" })
        );

        // data.files.forEach((file) => formData.append("files", file));

        fetch("/api/user/post/write", {
            method: "POST",
            headers: {
                'header': header,
                'processData': false,
                'contentType':false,
                'X-CSRF-Token': token
            },
            body: formData
        })
                .then(res => {
                    if (res.status === 200 || res.status === 201) { // 성공을 알리는 HTTP 상태 코드면
                        alert("글작성완료");
                    } else { // 실패를 알리는 HTTP 상태 코드면
                        console.error(res.statusText);
                        console.error(res);
                    }
                })
                .then(data => {
                    if(boardData.bdType=="자유게시판"){
                        location.replace('/board/basic');
                    }else{
                        location.replace('/board/qa');
                    }
                })
                .catch(error => console.log(error))
        // ...
    } );

</script>
<script src="/js/board/boardFilePreview.js"></script>
{{>pages/footer2}}