{{>pages/header1}}
{{>pages/header2}}

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">찾기결과</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/index"><i class="lni lni-home"></i> 홈</a></li>
                        <li>찾기결과</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Account Login Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="card login-form">
                    <div class="card-body">
                            <div>
                                <h1 class="text-center mb-2">찾기 결과</h1>
                                <h4>이메일로 발송된 임시비밀번호로 로그인을 해주세요!</h4>
                                <p> 로그인 후 비밀번호를 꼭 변경해주세요!</p>
                            </div>
                            <p class="outer-link">로그인하러가시겠습니까?<a href="/login">로그인</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Login Area -->

    {{>pages/footer1}}
    {{>pages/footer2}}