<!-- Start Footer Area -->
<footer class="footer">
    <!-- End Footer Top -->
    <!-- Start Footer Middle -->
    <div class="footer-middle">
        <div class="container">
            <div class="bottom-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-contact">
                            <h3>회사 영업시간</h3>
                            <p class="phone">02-111-1111</p>
                            <ul>
                                <li><span>월~금: </span> 9.00 am - 8.00 pm</li>
                                <li><span>토요일: </span> 10.00 am - 6.00 pm</li>
                            </ul>
                            <p class="mail">
                                <a href="">admin@naver.com</a>
                            </p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/common/indexUserCheck.js"></script>
<script src="/js/pagination.js"></script>
