<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>다 낚아</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta id="_csrf" name="_csrf" content="{{_csrf.token}}"/>
    <meta id="_csrf_header" name="_csrf_header" content="{{_csrf.headerName}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />
    <meta id="author" content="jin"/>