    {{>pages/header1}}

    <!-- 메타정보 넣기-->
    <meta name="description" content="danakga" />
    <meta name="keywords" content="fishing, fish">

    {{>pages/header2}}

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider" id="upload-date">
                            <div class="single-slider" id="ss0">

                            </div>
                            <div class="single-slider" id="ss1">

                            </div>
                            <div class="single-slider" id="ss2">

                            </div>
                            <div class="single-slider" id="ss3">

                            </div>
                            <div class="single-slider" id="ss4">

                            </div>
                            <div class="single-slider" id="ss5">

                            </div>
                            <div class="single-slider" id="ss6">

                            </div>

                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner" id="index_small">

                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>둘러보세요!</h2>
                                    <p>다양한 상품이 당신을 기다립니다!</p>
                                    <div class="button">
                                        <a class="btn" href="#">이동하기</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>최고 인기 상품</h2>
                        <p>주문이 가장 많은 상품이에요!</p>
                    </div>
                </div>
            </div>
            <div class="row" id="orderd-item">
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->

    <!-- Start Banner Area -->
    <section class="banner section">
        <div class="container">
            <div class="row" id="many-view">

            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- Start Home Product List -->
    <section class="home-product-list section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin" id="order-count">

                </div>
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin" id="upload-count">
                    <!-- End Single List -->
                </div>
                <div class="col-lg-4 col-md-4 col-12" id="view-count">
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Product List -->

    <!-- Start Brands Area -->
    <div class="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <h2 class="title">인기 브랜드</h2>
                </div>
            </div>
            <div class="brands-logo-wrapper">
                <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="https://via.placeholder.com/220x160" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brands Area -->

    <!-- Start Blog Section Area -->
    <section class="blog-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>문의게시판 </h2>
                        <p>자주 물어보는 질문에 관한 내용이에요!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-single-sidebar.mustache">
                                <img src="https://via.placeholder.com/370x215" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">eCommerce</a>
                            <h4>
                                <a href="blog-single-sidebar.mustache">What information is needed for shipping?</a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-single-sidebar.mustache">
                                <img src="https://via.placeholder.com/370x215" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">Gaming</a>
                            <h4>
                                <a href="blog-single-sidebar.mustache">Interesting fact about gaming consoles</a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-single-sidebar.mustache">
                                <img src="https://via.placeholder.com/370x215" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">Electronic</a>
                            <h4>
                                <a href="blog-single-sidebar.mustache">Electronics, instrumentation & control engineering
                                </a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section Area -->

    <!-- Start Shipping Info -->
<!--    <section class="shipping-info">-->
<!--        <div class="container">-->
<!--            <ul>-->
<!--                &lt;!&ndash; Free Shipping &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-delivery"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Free Shipping</h5>-->
<!--                        <span>On order over $99</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Money Return &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-support"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>24/7 Support.</h5>-->
<!--                        <span>Live Chat Or Call.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Support 24/7 &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-credit-cards"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Online Payment.</h5>-->
<!--                        <span>Secure Payment Services.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Safe Payment &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-reload"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Easy Return.</h5>-->
<!--                        <span>Hassle Free Shopping.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Shipping Info -->

    {{>pages/footer1}}
    <!--  이곳에 페이지 별 js 로드시키기-->
    <!--  예시 : <script src="/js/dummydata.js"></script> -->
    <script src="/js/product/allProductList.js"></script>
    {{>pages/footer2}}