    {{>pages/header1}}

    <!-- 메타정보 넣기-->
    <meta name="description" content="danakga" />
    <meta name="keywords" content="fishing, fish">

    {{>pages/header2}}

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider" id="main-img">
                                <img src="/images/fishing.jpg" width="100%" height="100%" alt="이미지" />
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider">
                                <img src="/images/banner2.jpg" width="100%" height="100%" alt="이미지" />
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner">
                                <img src="/images/small.jpg" width="100%" height="100%" alt="이미지" />
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>둘러보세요!</h2>
                                    <p>많은 상품들이 당신을 기다리고 있습니다!</p>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>최고 인기 상품</h2>
                        <p>주문이 가장 많은 상품이에요!</p>
                    </div>
                </div>
            </div>
            <div class="row" id="orderd-item">
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->

    <!-- Start Banner Area -->
    <section class="banner section">
        <div class="container">
            <div class="row" id="many-view">

            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- Start Home Product List -->
    <section class="home-product-list section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin" id="order-count">

                </div>
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin" id="upload-count">
                    <!-- End Single List -->
                </div>
                <div class="col-lg-4 col-md-4 col-12" id="view-count">
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Product List -->

    <!-- Start Blog Section Area -->
    <section class="blog-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>매거진</h2>
                        <p>다낚아에서 추천하는 매거진이에요!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="noUse/blog-single-sidebar.mustache">
                                <img src="/images/road.jpg" width="100%" height="100%" alt="이미지" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">추천상품</a>
                            <h4>
                                요즘 어떤 상품이 가장 많이 나갈까?
                            </h4>
                            <p>최근들어 낚시 용품의 판매량이 증가하고있는데 과연
                                가장 많이 팔리고있는 상품은 무엇일까?
                            </p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">보러가기</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="noUse/blog-single-sidebar.mustache">
                                <img src="/images/area.jpg" width="100%" height="100%" alt="이미지" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">계절별 추천 낚시터</a>
                            <h4>
                                계절별로 낚시터를 추천해드릴게요!
                            </h4>
                            <p>계절별로 어느지역에서 어떠한 물고기가 잡히는지 궁금하신가요?
                                지금 들어와서 확인해보세요!
                            </p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">보러가기</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="noUse/blog-single-sidebar.mustache">
                                <img src="/images/fish.jpg" width="100%" height="100%" alt="이미지" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">계절별 제철 생선</a>
                            <h4>
                                계절별로 맛있는 생선을 먹어봐요!
                            </h4>
                            <p> 계절별로 어떤 생선이 가장 맛있을까요?
                                다 함께 그 이유와 생선의 종류에 대해 알아봐요!
                            </p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">보러가기</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section Area -->

    <!-- Start Shipping Info -->
<!--    <section class="shipping-info">-->
<!--        <div class="container">-->
<!--            <ul>-->
<!--                &lt;!&ndash; Free Shipping &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-delivery"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Free Shipping</h5>-->
<!--                        <span>On order over $99</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Money Return &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-support"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>24/7 Support.</h5>-->
<!--                        <span>Live Chat Or Call.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Support 24/7 &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-credit-cards"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Online Payment.</h5>-->
<!--                        <span>Secure Payment Services.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                &lt;!&ndash; Safe Payment &ndash;&gt;-->
<!--                <li>-->
<!--                    <div class="media-icon">-->
<!--                        <i class="lni lni-reload"></i>-->
<!--                    </div>-->
<!--                    <div class="media-body">-->
<!--                        <h5>Easy Return.</h5>-->
<!--                        <span>Hassle Free Shopping.</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Shipping Info -->
    <section class="shipping-info">
        <div class="container">
            <ul>
                <!-- Free Shipping -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-delivery"></i>
                    </div>
                    <div class="media-body">
                        <h5>무료 배송</h5>
                        <span>무엇을 주문해도 무료배송!</span>
                    </div>
                </li>
                <!-- Money Return -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-support"></i>
                    </div>
                    <div class="media-body">
                        <h5>빠른 문의답변</h5>
                        <span>업무시간엔 10분내에 답변해요!</span>
                    </div>
                </li>
                <!-- Support 24/7 -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-credit-cards"></i>
                    </div>
                    <div class="media-body">
                        <h5>빠른 결제 시스템</h5>
                        <span>빠르고 간편한 결제 시스템</span>
                    </div>
                </li>
                <!-- Safe Payment -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="media-body">
                        <h5>쉽고 빠른 주문관리</h5>
                        <span>쉬운 주문관리 사용</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    {{>pages/footer1}}
    <!--  이곳에 페이지 별 js 로드시키기-->
    <!--  예시 : <script src="/js/dummydata.js"></script> -->
    <script src="/js/common/indexAllProductList.js"></script>
    {{>pages/footer2}}