{{>pages/header1}}
<link rel="stylesheet" href="/css/mainfunction.css">
{{>pages/header2}}
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <article class="col-sm-12 col-md-7 main_left_content">
                <div class="form-group searchDP">
                    <label for="searchText"></label>
                    <input type="text" id="searchText"/>
                    <label for="searchBtn"></label>
                    <button class="searchBtn" id="searchBtn">검색</button>
                </div>
                <div class="search_option_wrap">
                    <div class="search_option_title">
                        <div class="title_name">
                            낚시대
                        </div>
                        <input type="hidden" id="title_value" value="낚시대"/>
                    </div>
                    <div class="search_option_list">
                        <div class="search_option_item">
                            <div class="search_cate_wrap">
                                <div class="search_cate_title">분류</div>
                                <div class="search_cate_contents">
                                    <ul class="cate_list">
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="인쇼어">
                                                <span class="item_text">인쇼어</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="라이트지깅">
                                                <span class="item_text">라이트지깅</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="볼락/락피쉬">
                                                <span class="item_text">볼락/락피쉬</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="지깅로드">
                                                <span class="item_text">지깅로드</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="선상캐스트로드">
                                                <span class="item_text">선상캐스트로드</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="외수질/침선">
                                                <span class="item_text">외수질/침선</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="타이라바">
                                                <span class="item_text">타이라바</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="좌대용">
                                                <span class="item_text">좌대용</span>
                                            </label>
                                        </li>
                                        <li class="cate_item">
                                            <label class="item_checkbox">
                                                <input type="radio" name="area" value="두족류">
                                                <span class="item_text">두족류</span>
                                            </label>
                                        </li>
                                    </ul>
                                    <button class="btn_item_more"><i class="lni lni-chevron-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item_list_view">
                    <div class="category_list_wrap">
                        <ul>
                            <li class="first"><a href="#">신상품순</a></li>
                            <li class=""><a href="#">낮은 가격순</a></li>
                            <li class=""><a href="#">높은 가격순</a></li>
                            <li class=""><a href="#">상품명 순</a></li>
                        </ul>
                    </div>

                    <div>
                        <div class="scroll_box">
                            <table class="tbl_list">
                                <caption>상품 목록</caption>
                                <colgroup>
                                    <col class="product_img">
                                    <col class="product_content">
                                    <col class="product_right">
                                </colgroup>
                                <thead>
                                <tr class="web_hidden">
                                    <th class="">상품</th>
                                    <th class="">품목</th>
                                    <th class="">선택</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="item_images">이미지</td>
                                    <td class="title_price">
                                        <p class=""><a href="">AMD 라이젠5 PRO 4650G (르누아르) (멀티팩(정품))</a></p>
                                    </td>
                                    <td class="right_price">
                                        <p>가격</p>
                                        <button>담기</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="item_images">이미지</td>
                                    <td class="title_price">
                                        <p class=""><a href="">AMD 라이젠5 PRO 4650G (르누아르) (멀티팩(정품))</a></p>
                                    </td>
                                    <td class="right_price">
                                        <p>가격</p>
                                        <button>담기</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="item_images">이미지</td>
                                    <td class="title_price">
                                        <p class=""><a href="">AMD 라이젠5 PRO 4650G (르누아르) (멀티팩(정품))</a></p>
                                    </td>
                                    <td class="right_price">
                                        <p>가격</p>
                                        <button>담기</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-5 main_right_content">
                <div class="bg-danger">
                    내 장비(장바구니)
                </div>
                <div>
                    <button class="sea_rod"><div>바다로드</div><span class=""><i class="lni lni-chevron-down"></i></span></button>
                    <div class="panel hide" id="sea_rod_panel">
                    </div>
                </div>
                <div>
                    <button class="fresh_rod"><div>민물로드</div><span class=""><i class="lni lni-chevron-down"></i></span></button>
                    <div class="panel hide" id="fresh_rod_panel">
                    </div>
                </div>
                <div>
                    <button class="one_throw_rod"><div>원투낚시</div><span class=""><i class="lni lni-chevron-down"></i></span></button>
                    <div class="panel hide" id="one_throw_rod_panel">
                    </div>
                </div>
                <div>
                    <button class="reel"><div>릴/용품</div><span class=""><i class="lni lni-chevron-down"></i></span></button>
                    <div class="panel hide" id="reel_panel">
                    </div>
                </div>
                <div>
                    <button class="line"><div>라인/용품</div><span class=""><i class="lni lni-chevron-down"></i></span></button>
                    <div class="panel hide" id="line_panel">
                    </div>
                </div>
                <div>
                    <button class="hook"><div>바늘/훅</div><span class=""><i class="lni lni-chevron-down"></i></span></button>
                    <div class="panel hide" id="hook_panel">
                    </div>
                </div>
                <div>
                    <button class="all"><div>기타</div><span class=""><i class="lni lni-chevron-down"></i></span></button>
                    <div class="panel hide" id="all_panel">
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
{{>pages/footer1}}
<script src="/js/product/mainFunction.js"></script>

{{>pages/footer2}}