{{>pages/header}}
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="position">
                <article class="col-sm-12 col-md-7 main_left_content">
                    <div class="form-group searchDP">
                        <label for="searchText"></label>
                        <input type="text" id="searchText"/>

                        <label for="searchBtn"></label>
                        <button class="searchBtn" id="searchBtn">검색</button>
                    </div>
                    <div>
                        <div class="bg-dark">
                            장비 분류
                        </div>
                        <div class="bg-dark">
                            <label for="check">낚시대</label>
                            <input type="checkbox" id="check"/>
                        </div>
                    </div>

                    <div class="bg-primary">
                        물품 보여주는 부분
                    </div>
                </article>
                <article class="col-sm-12 col-md-5 main_right_content">
                    <div class="bg-danger">
                        장바구니 부분
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>
{{>pages/footer}}