{{>pages/header1}}
<link rel="stylesheet" href="/css/mypageUser.css">
<link rel="stylesheet" href="/css/mypageManager.css">
{{>pages/header2}}
<!-- Cotainer는 그렇게 양쪽 여백을 주게 되어있고  fluid 뭐시기는 여백 없음-->
<div class="container">
    <div class="row">
        <section class="mypage_sidebar">
            {{>pages/mypageManagerNAV}}
            <article class="mypage_article">
                <div>
                    <h3>회원정보 수정</h3>
                    <div class="button">
                        <button class="btn" id="changeBtn">수정</button>
                    </div>
                </div>
                <hr>
                <span class="col-sm-2 control-label">아이디</span>
                <span id="userId"></span> <!-- 아이디 값 불러오기 -->
                <hr>
                <span class="col-sm-2 control-label">이메일</span>
                <span id="userEmail"></span>
                <hr>
                <span class="col-sm-2 control-label">이름</span>
                <span id="userName"></span>
                <hr>
                <span class="col-sm-2 control-label">전화번호</span>
                <span id="userPhone"></span>
                <hr>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sample4_postcode">우편번호</label>
                        <input type="text" class="form-control col-sm-8 col-8" id="sample4_postcode" placeholder="우편번호"
                               readonly>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sample4_roadAddress">도로명주소</label>
                        <input type="text" class="form-control" id="sample4_roadAddress" placeholder="도로명주소" readonly
                        ><br>
                    </div>
                    <div class="form-group">
                        <label for="sample4_jibunAddress">지번주소</label>
                        <input type="text" class="form-control" id="sample4_jibunAddress" placeholder="지번주소" readonly>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <span id="guide" style="color:#999;display:none"></span>
                        <label for="sample4_detailAddress">상세주소*</label>
                        <input type="text" class="form-control" id="sample4_detailAddress" placeholder="상세주소" readonly>
                        <!--                                    <input type="text" class="form-control" id="sample4_extraAddress" placeholder="참고항목">-->
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{{>pages/footer1}}
<!--  이곳에 페이지 별 js 로드시키기-->
<!--  예시 : <script src="/js/dummydata.js"></script> -->
<script src="/js/user/myPageUser.js"></script>
{{>pages/footer2}}
