<div class="container">
    <section class="mypage_sidebar">
        <article class="mypage_list">
            <ul>
                <li><a href="#"></a>메뉴 1</li>
                <li><a href="#"></a>메뉴 2</li>
                <li><a href="#"></a>메뉴 3</li>
                <li><a href="#"></a>메뉴 4</li>
                <li><a href="#"></a>메뉴 5</li>
            </ul>
        </article>
    </section>
</div>