<article class="mypage_list">
    <ul>
        <li><a href="/user/mypage">회원정보</a></li>
        <li><a href="#">주문내역</a></li>
        <li><a href="#">관심상품</a></li>
        <li><a href="#">장비견적(장바구니)</a></li>
        <li><a href="#">활동내역</a></li>
        <li><a href="#">사업자 등록</a></li>
        <li><a href="/user/signout">회원탈퇴</a></li>
    </ul>
</article>