{{>pages/header1}}

<link rel="stylesheet" href="/css/mypageUser.css">
{{>pages/header2}}

<!-- Cotainer는 그렇게 양쪽 여백을 주게 되어있고  fluid 뭐시기는 여백 없음-->
<div class="container">
    <div class="row">
        <section class="mypage_sidebar">
            {{>pages/mypageUserNAV}}
            <article class="mypage_article">
                <h3>회원정보 수정</h3>
                <hr>
                <label class="col-sm-2 control-label">아이디</label>
                <span id="userId"></span> <!-- 아이디 값 불러오기 -->
                <hr>
                <label class="col-sm-2 control-label">이메일</label>
                <span id="userEmail"></span>
                <hr>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userName">이름*</label>
                        <input class="form-control" name="name" type="text" id="userName" minlength="1"
                               maxlength="4" placeholder="한글만 입력하세요!"/>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userPhone">전화번호*</label>
                        <input class="form-control" name="phone" type="text" id="userPhone" minlength="10"
                               maxlength="11" placeholder="(-빼고)전화번호를 입력해주세요."/>
                    </div>
                </div>
                <hr>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="my_pw">현재 비밀번호 (필수 입력 란)</label>
                        <input class="form-control" name="password" type="password" id="my_pw" placeholder="현재 비밀번호"
                               required/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="change_pw">변경 비밀번호</label>
                        <input class="form-control" name="password" type="password" id="change_pw" onkeyup="chagnePwCheck()"
                               placeholder="숫자, 영문, 특수문자 포함 최소8자 이상"/>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <span class="pw_check" id="pw_check"></span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-pass-confirm">변경 비밀번호 확인</label>
                        <input class="form-control" type="password" id="change_pw_confirm" onkeyup="chagnePwCheck()"
                               placeholder="숫자, 영문, 특수문자 포함 최소8자 이상"/>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <span class="pw_confirmcheck" id="pw_confirmcheck"></span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                    </div>
                </div>
                <hr>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sample4_postcode">우편번호</label>
                        <input type="text" class="form-control col-sm-8 col-8" id="sample4_postcode" placeholder="우편번호"
                               readonly required>
                        <div class="button">
                            <button class="btn" id="PostCode">우편번호 찾기</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sample4_roadAddress">도로명주소</label>
                        <input type="text" class="form-control" id="sample4_roadAddress" placeholder="도로명주소" readonly
                               required><br>
                    </div>
                    <div class="form-group">
                        <label for="sample4_jibunAddress">지번주소</label>
                        <input type="text" class="form-control" id="sample4_jibunAddress" placeholder="지번주소" readonly
                               required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <span id="guide" style="color:#999;display:none"></span>
                        <label for="sample4_detailAddress">상세주소*</label>
                        <input type="text" class="form-control" id="sample4_detailAddress" placeholder="상세주소">
                        <!--                                    <input type="text" class="form-control" id="sample4_extraAddress" placeholder="참고항목">-->
                    </div>
                </div>

                <div class="button" id="changeOK">
                    <button type="button" class="btn">변경 완료</button>
                </div>
            </article>
        </section>
    </div>
</div>

{{>pages/footer1}}
<!--  이곳에 페이지 별 js 로드시키기-->
<!--  예시 : <script src="/js/dummydata.js"></script> -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/addressFind.js"></script>
<script src="/js/user/myPageUserEdit.js"></script>
{{>pages/footer2}}
