<li class="nav-item">
    <a href="/manager/mypage" class="active" aria-label="Toggle navigation">회원정보</a>
</li>
<li class="nav-item">
    <a href="/#" aria-label="Toggle navigation">활동내역</a>
</li>
<li class="nav-item">
    <a href="/manager/companyinfo" aria-label="Toggle navigation">회사정보</a>
</li>
<li class="nav-item">
    <a href="/addproduct" aria-label="Toggle navigation">상품등록</a>
</li>
<li class="nav-item">
    <a href="/manager/myproductlist" aria-label="Toggle navigation">상품조회</a>
</li>
<li class="nav-item">
    <a href="/#" aria-label="Toggle navigation">사업자 탈퇴</a>
</li>
