<article class="mypage_list">
    <ul>
        <li><a href="/manager/mypage">회원정보</a></li>
        <li><a href="#">활동내역</a></li>
        <li><a href="/manager/companyinfo">회사정보</a></li>
        <li><a href="/addproduct">상품등록</a></li>
        <li><a href="/manager/myproductlist">상품조회</a></li>
        <li><a href="#">주문내역조회</a></li>
        <li><a href="#">사업자 탈퇴</a></li>
    </ul>
</article>