{{>pages/header}}
<div class="container">
    <div class="row">
        <section class="mypage_sidebar">
            {{>pages/mypageNAV}}
            <article class="order_list_wrap">
                <div class="order_date_wrap">
                    <div class="order_date">
                        <label for="orderdate"></label>
                        <input type="text" name="orderdate" id="orderdate">
                        <button class="order_list_button">조회</button>
                    </div>

                </div>
                <div class="order_list">주문내역이 들어갈부분</div>
            </article>
        </section>
    </div>
</div>
{{>pages/footer}}