{{>pages/header1}}

{{>pages/header2}}

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">상점별 상품목록</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/index"><i class="lni lni-home"></i> 홈</a></li>
                        <li>상점</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Product Grids -->
    <section class="product-grids section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="product-grids-head">
                        <div class="align-center mb-3"><h2 id="shopName"></h2></div>
                        <div class="product-grid-topbar">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="d-flex justify-content-center align-items-center align-left button">
                                        <label class="w-17" for="searchText">검색어</label>
                                        <input class="form-control" type="text" id="searchText" placeholder="검색어를 입력하세요" required />
                                        <button class="w-25 btn" id="gridProductSearchBtn">검색</button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="product-sorting align-right">
                                        <label for="sorting">정렬 종류</label>
                                        <select class="form-control" id="sortMethod">
                                            <option value="productPrice" selected>가격별</option>
                                            <option value="productType">상품종류</option>
                                            <option value="productSubType">세부종류</option>
                                            <option value="productBrand">브랜드</option>
                                        </select>
                                        <label for="sorting">정렬 타입</label>
                                        <select class="form-control" id="sortType">
                                            <option value="desc" selected>내림차순</option>
                                            <option value="asc">오름차순</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                aria-labelledby="nav-grid-tab">
                                <div class="row" id="gridProductList">

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Pagination -->
                                        <div class="text-center">
                                        <ul class="pagination">
                                        </ul>
                                    </div>
                                        <!--/ End Pagination -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Grids -->

    {{>pages/footer1}}
    <!--  이곳에 페이지 별 js 로드시키기-->
    <!--  예시 : <script src="/js/dummydata.js"></script> -->
    <script src="/js/company/shopGridProductList.js"></script>
    {{>pages/footer2}}