{{>pages/header1}}
<link rel="stylesheet" href="/css/product.css">

{{>pages/header2}}
<input type="hidden" id="review_edit" value="">
<input type="hidden" id="review_status" value="">

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">상품 상세정보</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/index"><i class="lni lni-home"></i> 홈</a></li>
                    <li>상품</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Item Details -->
<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                            </div>
                            <div class="images">
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <div class="d-flex justify-content-between">
                            <h2 class="title" id="p-title"></h2>
                            <div>
                                <span class="mx-1"><i class="lni lni-eye mx-1"></i><span id="views-count"></span></span>
                                <span class="mx-1"><i class="lni lni-heart-filled mx-1"></i><span id="heart-count"></span></span>
                            </div>
                        </div>
                        <p class="category"><i class="lni lni-tag"></i> 회사명:
                            <a href="javascript:void(0)">
                                <span id="p-company"></span>
                            </a>
                        </p>
                        <h3 class="price" id="p-price"></h3>
                        <p id="product-main"></p>
                        <p id="product-sub"></p>
                        <p id="product-brand"></p>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group color-option">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group quantity">
                                    <label for="quantity">수량</label>
                                    <input type="number" min="1" value='1' class="form-control" id="quantity"/>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                <div class="col-lg-4 col-md-4 col-12">
<!--                                    <div class="button cart-button">-->
<!--                                        <button class="btn" style="width: 100%;" id="buyBtn"><i class="lni lni-dollar"></i>바로구매</button>-->
<!--                                    </div>-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn" id="cart_btn"><i class="lni lni-cart"></i> 장바구니</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn" id="wish_btn"><i class="lni lni-heart"></i>찜하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>상품설명</h4>
                            <div id="product-info"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-body">
                            <h4>세부사항</h4>
                            <ul class="normal-list">
                                <li id="brand-type-text"></li>
                                <li id="main-type-text"></li>
                                <li id="sub-type-text"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="single-block give-review">
                        <h4 class="sum_star">0점</h4><span>평점</span>
                        <ul>
                            <li>
                                <span class="star-5">5 점 - 0</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                            </li>
                            <li>
                                <span class="star-4">4 점 - 0</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                            </li>
                            <li>
                                <span class="star-3">3 점 - 0</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                            </li>
                            <li>
                                <span class="star-2">2 점 - 0</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                            </li>
                            <li>
                                <span class="star-1">1 점 - 0</span>
                                <i class="lni lni-star-filled"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                                <i class="lni lni-star"></i>
                            </li>
                        </ul>
                        <!-- Button trigger modal -->
                        <div id="review_btn">

                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="single-block">
                        <div class="reviews">
                            <h4 class="title">작성된 리뷰</h4>
                            <!-- Start Single Review -->
                            <div id="reviews_list_wrap">
                            </div>
                            <!-- End Single Review -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Item Details -->

<!-- Review Modal -->
<div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">리뷰</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="review-rating">평점</label>
                            <select class="form-control" id="review-rating">
                                <option value="5">5점</option>
                                <option value="4">4점</option>
                                <option value="3">3점</option>
                                <option value="2">2점</option>
                                <option value="1">1점</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="review-message">내용</label>
                    <textarea class="form-control" id="review-message" rows="8" required></textarea>
                </div>
            </div>
            <div class="modal-footer button">
                <button type="button" class="btn" id="write_review">작성하기</button>
            </div>
        </div>
    </div>
</div>
<!-- End Review Modal -->

{{>pages/footer1}}
<!--  이곳에 페이지 별 js 로드시키기-->
<!--  예시 : <script src="/js/dummydata.js"></script> -->
<script src="/js/product/productInfo.js"></script>
{{>pages/footer2}}
