    {{>pages/header}}

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">회원가입</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.mustache"><i class="lni lni-home"></i> 홈</a></li>
                        <li>회원가입</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Account Register Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>계정이 없으신가요?</h3>
                            <p>계정을 생성하고 다낚아 사이트의 기능을 사용해보세요!</p>
                        </div>
                        <form class="row" id="form-data" name="formValues">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="reg-ID">아이디</label>
                                    <input class="form-control" name="userid" type="text" id="reg-ID" oninput="regeisterCheck.ID()" onchange="buttoncheck()" autofocus placeholder="영문 및 숫자 (4자 이상, 최대 20자)" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="id_check" id="id_check"></span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="reg-pass">비밀번호</label>
                                    <input class="form-control" name="password" type="password" id="reg-pass" oninput="buttoncheck()" placeholder="숫자, 영문, 특수문자 포함 최소8자 이상" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="pw_check" id="pw_check"></span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="reg-pass-confirm">비밀번호 확인</label>
                                    <input class="form-control" type="password" id="reg-pass-confirm" onkeyup="regeisterCheck.PW()" oninput="buttoncheck()" placeholder="숫자, 영문, 특수문자 포함 최소8자 이상" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="pw_confirmcheck" id="pw_confirmcheck"></span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="reg-name">이름</label>
                                    <input class="form-control" name="name" type="text" id="reg-name" oninput="buttoncheck()" placeholder="한글만 입력하세요!" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="name_check" id="name_check">한글로만 입력해주세요!</span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="reg-email">이메일</label>
                                    <input class="form-control" name="email" type="email" id="reg-email" onkeyup="regeisterCheck.EMAIL()" oninput="buttoncheck()" placeholder="이메일을 입력해주세요." required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="em_check" id="em_check">이메일 형식을 올바르게 작성해주세요!</span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="reg-phone">전화번호</label>
                                    <input class="form-control" name="phone" type="text" id="reg-phone" minlength="10" maxlength="11" oninput="buttoncheck()" placeholder="(-빼고)전화번호를 입력해주세요." required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span class="phone_check" id="phone_check">전화번호를 올바르게 작성해주세요!</span> <!-- 이곳에 ajax 유효성 검사한 결과 보여주기-->
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" id="register-pass" onclick="registerOK()" disabled="true">회원가입</button>
                            </div>
                            <p class="outer-link">계정이 있으신가요? <a href="/login">로그인하기</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Register Area -->

    {{>pages/footer}}