{{>pages/header}}

<!-- Cotainer는 그렇게 양쪽 여백을 주게 되어있고  fluid 뭐시기는 여백 없음-->
<div class="container">
    <div class="row">
        <section class="mypage_sidebar">
            {{>pages/mypageNAV}}
            <article class="mypage_signout">
                <div class="signout_box">
                    <form id="signout_form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="my_pw">비밀번호*</label>
                                    <input class="form-control" name="password" type="password" id="my_pw"  placeholder="현재 비밀번호" required />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="button">
                        <button class="btn">탈퇴하기</button>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{{>pages/footer1}}
<!--  이곳에 페이지 별 js 로드시키기-->
<!--  예시 : <script src="/js/dummydata.js"></script> -->
{{>pages/footer2}}
