.ck-content{
    height: 300px;
}

.pagination {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#board-wrap{
    height: 600px;
    margin-bottom: 20px;
}

#boardtable{
    width: 100%;
}

#board-table-wrap{
    height: 400px;
}

.current-img{
    position: relative;
    width:9rem;
    height:9rem;
    margin-right: 15px;
    background: #0dcaf0;
    box-shadow : 5px 5px 10px -5px;
}

.img-btn-delete{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top:-4px;
    right: -4px;
    border-style: none;
    color:white;
    box-shadow : 5px 5px 10px -5px;
}

.img-item{
    width: 100%;
    height: 100%;
}

#post-inner{
    height: 600px;
}

#post-img{
    overflow: scroll;
    display: flex;
}

#image-preview{
    overflow: scroll;
    display: flex;
}

.blog-single p{
    font-size: 14px;
    margin: 5px 0;
    line-height: 26px;
}

.ck.ck-editor{
    width: 100%;
}

.ck-editor__editable{
    min-height: 500px;
}


.real-upload {
    display: none;
}

.upload {
    width: 15%;
    height: 9rem;
    background-color: antiquewhite;
}

.image-preview {
    width: 85%;
    height: 9rem;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
    overflow: scroll;
}

.current-img{
    position: relative;
    width:130px;
    height:130px;
    margin-right: 15px;
    box-shadow : 5px 5px 10px -5px;
}

.img-btn-delete{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top:-4px;
    right: -4px;
    border-style: none;
    color:white;
    box-shadow : 5px 5px 10px -5px;
}