.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card {
    width: 120px;
    height: 40px;
    flex:0 0 80px;
    color: white;
}

#tool_select_delete{
    border: none;
    background: #0167F3;
    color: white;
    padding: 8px;
    margin-right: 3px;
}

#cart_select_delete{
    border: none;
    background: #0167F3;
    color: white;
    padding: 8px;
}

#cart_all_delete{
    border: none;
    background: #0167F3;
    color: white;
    padding: 8px;
    margin-right: 3px;
}

#folder_manager{
    border: none;
    background: black;
    color: white;
    padding: 8px;
}