tr,td{
    text-align: center;
}

.pname{
    overflow: hidden;
}

#product-listBtn{
    background: skyblue;
}

.product-list-container{
    height: 450px;
    margin-bottom: 20px;
    overflow: scroll;
}

.pagination {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/*.product-item div{*/
/*    width:100%;*/
/*    text-align: center;*/
/*    overflow: hidden;*/
/*}*/

