.product-list{
    width: 100%;
    overflow: scroll;
}

.product-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding:5px 5px;
    margin-bottom: 5px;
}

.product-item div{
    width:100%;
    text-align: center;
}

.product-list-header{
    height: 35px;
}
