#my-page-nav{
    margin-bottom: 15px;
}

#NAVtoggle{
    width: 100%;
}



.mypage_article{
    width:100%
}
.mypage_list{
    width: 120px;
    height: 500px;
    border: #8a8a8a 1px solid;
    border-radius: 15px;
    margin-right: 30px;
}

.mypage_list ul{
    text-align: center;
    margin-top : 20px;
}

.mypage_list ul li{
    text-align: center;
    margin-bottom : 20px;
}

.mypage_list ul li a{
    color:black;
}

.mypage_list ul li a:hover{
    color:#0167f3;
}

.mypage_signout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signout_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    width: 400px;
    height: 400px;
    border: black 1px solid;
    border-radius: 15px;
}

#signout_form{
    margin-bottom: 20px;
}

.category_list {
    position: relative;
    border-bottom: 1px solid #33383e;
    margin-bottom: 15px;
}

.category_list_wrap,
.category_list_type_wrap
{
    display: flex;
}

.category_list_wrap li button{
    height: 100%;
    width: 120px;
    padding: 10px;
    border: none;
    background: none;
}

.category_list_wrap li{
    margin-bottom: -2px;
    border: 1px solid #bfbfbf;
    border-bottom: 1px solid #33383e;
}

.category_list_wrap li button:hover,
.category_list_type_wrap li button:hover{
    background: #207af4;
    color:#fff;
}

.category_list_wrap li.select{
    border-color: #33383e;
    border-bottom-color: #fff;
}

.category_list_type_wrap li button{
    height: 100%;
    width: 120px;
    padding: 10px;
    border: none;
    background: none;
}

.category_list_type_wrap li{
    border: 1px solid #bfbfbf;
}

.category_list_type_wrap li button.active{
    background: #207af4;
    color: #fff;
}

.pagination {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#board-table-wrap{
    height: 400px;
}