#id_check{
    display: none;
}

#pw_check{
    display: none;
    color:#B02A37;
}

#pw_confirmcheck{
    display: none;
    color: #B02A37;
}

#name_check{
    display: none;
    color: #B02A37;
}


#em_check{
    display: none;
    color: #B02A37;
}

#phone_check{
    display: none;
    color: #B02A37;
}

#cn_check{
    display: none;
    color: #B02A37;
}

.register-form .form-group .form-control._error{
    border-color:#B02A37;
}


.register-form .search_tab{
    margin-bottom: 20px;
    display: flex;
}

.register-form .search_tab .search_tab-button{
    border: 0 none;
    background: #fff;
}

.register-form .search_tab .search_tab-button h3{
    font-size: 19px;
    color: #B3B3B3;
}

.register-form .search_tab .search_tab-button._select h3{
    color: #0167f3;
}

.register-form .search_tab .search_tab-button{
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 44px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
}

.register-form .search_tab .search_tab-button._select{
    border-bottom: 2px solid #0167f3;
    color: #2964E0;
}

.register-form #form-data .cn_name._hide {
    display: none;
}

.register-form #form-data .cn_name._hide._select {
    display: block;
}


/*
    Screen Size
    xs <576px
    sm >= 576px
    md >= 768px
    lg >= 992px
    xl >= 1200px
    xxl >= 1400px

    @media all and (max-width: 1024px){
	//브라우저 창 width가 1024px보다 작아지는 순간부터 적용
	//태블릿
    }
    @media all and (max-width: 768px){
        //브라우저 창 width가 768px보다 작아지는 순간부터 적용
        //모바일
    }
    @media all and (min-width: 768px){
        //브라우저 창 width가 768px보다 커지는 순간부터 적용
        //태블릿
    }
    @media all and (min-width: 1024px){
        //브라우저 창 width가 1024px보다 커지는 순간부터 적용
        //데스크탑
    }

*/

/*
    768보다 작아지는 순간 적용
    mobile?
*/
@media screen and (max-width: 576px) {
}

/*
    768보다 커지는 순간 적용
    Desktop
*/
@media screen and (min-width: 768px){
    #PostCode{
        margin-top:18px;
    }
}