<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/api/user" method="post">
    <input type ="text" name="userid" value="{{#userInfoDto}}{{userInfoDto.userid}}{{/userInfoDto}}" placeholder="UserId"/><br/>
    {{#valid_userid}} <span id="valid">{{valid_userid}}</span> {{/valid_userid}}<br/>

    <input type ="text" name="password" value="{{#userInfoDto}}{{userInfoDto.password}}{{/userInfoDto}}"  placeholder="Password"/><br/>
    {{#valid_password}} <span id="valid">{{valid_password}}</span> {{/valid_password}}<br/>

    <input type ="text" name="name" value="{{#userInfoDto}}{{userInfoDto.name}}{{/userInfoDto}}" placeholder="name"/><br/>
    {{#valid_name}} <span id="valid">{{valid_name}}</span> {{/valid_name}}<br/>

    <input type ="text" name="phone" value="{{#userInfoDto}}{{userInfoDto.phone}}{{/userInfoDto}}" placeholder="Phone"/><br/>
    {{#valid_phone}} <span id="valid">{{valid_phone}}</span> {{/valid_phone}}<br/>

    <input type ="text" name="email" value="{{#userInfoDto}}{{userInfoDto.email}}{{/userInfoDto}}" placeholder="Email"/><br/>
    {{#valid_email}} <span id="valid">{{valid_email}}</span> {{/valid_email}}<br/>

    <input type="submit" value="회원가입"/>
</form>
</body>
</html>