<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input type ="text" name="username" placeholder="Username"/><br/>
    <input type ="password" name="password" placeholder="Password"/><br/>
    <button>로그인</button>
</form>
</body>
</html>