<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="POST">
    <input type="hidden" name="_csrf.parameterName" value="_csrf.token" />
    <input type ="text" name="userid" placeholder="userid"/><br/>
    <input type ="password" name="password" placeholder="Password"/><br/>
    <button>로그인</button>
</form>
</body>
</html>