<ul class="cate_list">
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="인쇼어">
            <span class="item_text">인쇼어</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="라이트지깅">
            <span class="item_text">라이트지깅</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="볼락/락피쉬">
            <span class="item_text">볼락/락피쉬</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="지깅로드">
            <span class="item_text">지깅로드</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="선상캐스트로드">
            <span class="item_text">선상캐스트로드</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="외수질/침선">
            <span class="item_text">외수질/침선</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="타이라바">
            <span class="item_text">타이라바</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="좌대용">
            <span class="item_text">좌대용</span>
        </label>
    </li>
    <li class="cate_item">
        <label class="item_checkbox">
            <input type="radio" name="area" value="두족류">
            <span class="item_text">두족류</span>
        </label>
    </li>
</ul>
